run = "cargo test"
hidden = ["target"]

[env]
CARGO_HOME="/home/runner/${REPL_SLUG}/.cargo"

[packager]
language = "rust"

[packager.features]
packageSearch = true

[nix]
channel = "stable-22_11"

[gitHubImport]
requiredFiles = [".replit", "replit.nix"]

[languages]

[languages.rust]
pattern = "**/*.rs"

[languages.rust.languageServer]
start = "rust-analyzer"
